<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="container m-4">
    <div class="row">
      <input [(ngModel)]="buscar_artist" type="text" class="form-control m-3"  name="buscar_artist">
    </div>
    <button class="btn btn-info" (click)='getArtista()'>Buscar</button>
  </div>

  <div class="container text-center m-4">
    <div class="col 12">
      <img src="{{artista.imagen}}" alt="">
    </div>
    <div class="col 12">
      <h2>{{artista.nombre}}</h2>
    </div>
    <div class="col 12">
      <a target="_blank" href="https://www.last.fm/search?q={{artista.nombre}}">Last.fm</a>
    </div>
    <div class="col 12">
      <span>Oyentes : {{artista.listeners}}</span>
    </div>
  </div>

  <app-top></app-top>
</div>